@import "../../../scss/foundation/functions";
@import "../../../scss/base_settings";
@import "../../../scss/responsive-base/mixins";

#list-category-placeholder > *
{
  font-size: 0;
}

.tab-item.tab-related {
  display: none;
}

#list-category-placeholder h2
{
  line-height: 1.4em;
  font-size: 1.4em;
  padding-bottom: 3px;
  border-bottom: 1px dotted #cdcdcd;
}


//
//  Medium
//
@media #{$small-only} {
  @include calculate-item-width($js-total-products-small, $js-product-wrapper-margin-right, "#list-category-placeholder ul li");
}

//
//  Medium
//
@media #{$medium-only} {
  @include calculate-item-width($js-total-products-medium, $js-product-wrapper-margin-right, "#list-category-placeholder ul li");
}

//
//  Large
//
@media #{$large-only} {
  @include calculate-item-width($js-total-products-large, $js-product-wrapper-margin-right-large-up, "#list-category-placeholder ul li");
}

//
//  X-Large
//
@media #{$xlarge-only} {
  @include calculate-item-width($js-total-products-xlarge, $js-product-wrapper-margin-right-large-up, "#list-category-placeholder ul li");
}

//
//  XX-Large
//
@media #{$xxlarge-only} {
  @include calculate-item-width($js-total-products-xxlarge, $js-product-wrapper-margin-right-large-up, "#list-category-placeholder ul li");
}
